.form {
  display: flex;
  gap: 10px;
}

input, select {
  padding: 5px 10px;
  text-transform: uppercase;
  border: 1px solid #01020a;
}

.button {
  padding: 5px 10px;
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #01020a;
  cursor: pointer;
}

.button:hover {
  background-color: #fea82f;
}